h2 {
  &.has-paragraph-size {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1em;
    margin-top: 0 !important;
  }
}

a {
  outline: none;
}

.is-normal-case {
  text-transform: none !important;
}
