.namespace-sorting {
  &.panel {
    background-color: $white;

    .panel-heading {
      border-bottom: 0;
      font-weight: 600;
      margin-bottom: 0;
    }

    .panel-block {
      &.sortable {
        border-bottom: 1px solid $grey-lightest;
        border-radius: 0;
        cursor: move;

        @media (hover) {
          &:hover {
            background-color: $light;
          }
        }
      }
    }

    .namespace {
      flex: 1;
      margin-right: 0.75em;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .input {
      flex: 1;
      margin-right: 0.75em;
    }
  }
}
