.navbar-item {
  display: flex;

  &.has-restricted-width {
    span {
      &:last-of-type {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 1087px) {
          max-width: 100%;
        }
      }
    }
  }

  .icon {
    min-width: 1.5rem;

    &.icon--svg {
      display: inline-block;
      fill: currentColor;
      height: 1em;
      line-height: 1;
      position: relative;
      stroke: currentColor;
      stroke-width: 0;
      top: -0.05em;
      vertical-align: middle;
      width: 1em;
    }
  }
}
