.table-container {
  &::-webkit-scrollbar {
    appearance: none;
    background: $white;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
}

.table {
  th,
  td {
    &.is-fullwidth {
      width: 100%;
    }
  }
}
