{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": null,
    "selector-class-pattern": null,
    "selector-max-compound-selectors": null,
    "selector-no-qualifying-type": null
  }
}
